body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.movie-search-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 100%;
    max-width: 500px; */
    text-align: center;
    margin: auto;
}

#search-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#search-btn:hover {
    background-color: #0056b3;
}

#movie-results {
    margin-top: 20px;
}

.movie {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.movie img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
    flex-shrink: 0; /* Prevent image from shrinking */
}

.movie h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.movie p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content  {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}